<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/src/images/logo_micro_macro.png" alt="Logo" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="../src/pages/crime-city.html">MicroMacro Crime City</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="../src/pages/full-house.html">MicroMacro Crime City - Full House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="../src/pages/tricks-town.html">MicroMacro Crime City - Tricks Town</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="../src/pages/showdown.html">MicroMacro Crime City - Showdown</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="../src/pages/funfair.html">MicroMacro Puzzle - Funfair</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../src/pages/football.html">MicroMacro Puzzle - Football</a>
                </li>
            </ul>
        </div>
    </div>
</nav>